$height: 3em;

ul.horizontal-navigation {

	/* Cleanse margins and other stuff so we don't have to worry about stray
	 * spacing messing something up. */
	&, ul, li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	/* All links are block elements. */
	li > a { display: block; }

	/* First level is horizontal, the rest are normal. */
	& > li { float: left; }

	/* When hovering over a list item, display it's sublist. */
	li       > ul { display: none; }
	li:hover > ul { display: block; }

	/* All submenus */
	ul { position: absolute; }

	/* Third level and deeper (floating submenus). */
	ul ul { margin-top: -$height; margin-left: 100%; }
}

#top-navigation hr { clear: both; width: 0; }

@media print {
	#top-navigation { display: none; }
}

